<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test1</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/dist/css/bootstrap.css">
</head>

{{ views_str|safe }}
<body>
    {% load static %}
    {{name}}<img src="{% static 'images/123.png' %}" alt="runoob-logo">
</body>
</html>


{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/dist/css/bootstrap.css">#}
{#</head>#}
{#<body>#}
{#    {% load static %} #}
{#    <h1>if/else演示</h1>#}
{#    <ul>#}
{##}
{#        {{num}}<img decoding= "async" src="{% static 'images/123.png' %}" alt="python-logo">#}
{#    </ul>#}
{#</body>#}
{#</html>#}